footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
   width: 100%;
   height: 5%;
    
}
header{
    font-weight: 1500;
    text-align: center;
}

.flex-container{
    display: inline;
    
    width: 2500px;
}


#flex-container-1 div:last-child{
    background-color: yellow;
    
    width: calc(25% - 0px);
    height: 25rem;
}
#flex-container-1 div:first-child{
    background-color: red;
    width: calc(25% - 0px);
    height: 25rem;
    
}
#flex-container-1 div{
    display: inline;
}
#flex-container-1  #box2{
    width: calc(50% - 0px);
    height: 25rem;
    margin: 0;
    
    background-color: blue;
}

.flex-container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: fit-content;
    display: flex;
    border: none
}
html, body { margin:0px; height:100%; }