header{
    background-image: url("./assets/pokemon_pokeball_red-wallpaper-1440x1080.jpg");
    height: 50px;
}

main{
    background-image: url("");
    background-repeat: inherit;
}
main img{
    width: 100%;
    height: 100%;
}

#poke-container {
    margin: auto;
    width: 250px;
    height: 350px;
    text-align: center;
    
}
.card{
    margin: 0;
    
}