doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title MonApp
  body
    header
      h1 MonApp
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/about") About
    main
    block content
    footer
      p Copyright 2024 MonApp