button{
    
    background-color: #E6D6FC;
    color: #883AE1;
    border: none;
    border-radius: 10REM ;
    padding: 15px;
    display: block;
    margin-top: 2%;
    margin-left: 2%;
    font-weight: 800;
    
    
    
}
body{
    background-color: #FAFAF9;
}
main{
    display: flex;
  align-items: center;
  justify-content: center;
}
.card{
    background-color: white;
    color: "#6C727F";
    width: 450px;
    height: 450px;
    text-align: left;
    border-radius: 18px;
    box-shadow: 10px 10px 10px 10px lightgray;
}
img{
    display: flex;
    align-items: center;
    width: 95%;
    height: 40%;
    border: none;
    border-radius:15px ;
  margin: auto;
  margin-top: 2%;
    
}
article{
    margin-top: 2% ;
    margin-left: 2% ;
}
h1{
    font-weight: 800;
    margin-top: 2% ;
    margin-left: 2% ;
}
